html {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  width: 450px;
  height: 750px;
  display: flex;
  flex-direction: column;
  background-color: #dadada;
}

#content-container {
  display: flex;
  flex-direction: column;
  flex: 3 3 0;
  /* overflow-x: hidden; */
  overflow-y: scroll;
}

#footer-container {
  background-color: #dadada;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  /* border-top: 1px solid #d3d3d3; */
  justify-content: center;
}

.message-container {
  background-color: white;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  margin-left: 16px;
  margin-top: 16px;
  padding: 10px;
  word-break: break-all;
  margin-right: 16px;
}

.message-container.user-message {
  background-color: yellow;
  align-self: flex-end;
}

.choice-item-container {
  display: flex;
  background-color: rgb(174, 206, 243);
  border: 1px solid #dadada;
  margin: 10px;
  padding: 7px;
  border-radius: 10px;
  text-align: left;
  font-size: 13px;
}

.choice-item-container:hover {
  background-color: rgb(77, 169, 245);
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background-color: #dadada;
}
::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
}
::-webkit-scrollbar-button {
  display: none;
}
